body{
    height: 100vh;
    width: 100vw;
    background-color: black; 
}

/* three players */
.player-count, .starting-life, .start-match, .end-match{
    font-size: 2em;
}

.players, .life{
    background-color: #311b92;
}

.none{
    display: none;
}

.visible{
    display: block;
}

.player-counter-1{
    background-color: blue;
    height: 50vh;
}

.player-counter-2{
    background-color: red;
    height: 50vh;
}

.player-counter-3{
    background-color: green;
    height: 50vh;
}

.player-counter-4{
    background-color: orange;
    height: 50vh;
}

.life-total, .plus, .minus{
    display: inline-block;
    font-size: 5em;
    position: relative;
    top: 10vh;
    margin-right: 4%;
    left: 15%;
}

.end-match{
    display: block;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
}

.twoPlayer{
    height: 100vh;
}

.inlineBlock{
    display: inline-block;
}

.rotate90 {

    /* Safari */
    -webkit-transform: rotate(-90deg);
    
    /* Firefox */
    -moz-transform: rotate(-90deg);
    
    /* IE */
    -ms-transform: rotate(-90deg);
    
    /* Opera */
    -o-transform: rotate(-90deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
    }

.rotate270{
      /* Safari */
      -webkit-transform: rotate(-270deg);
    
      /* Firefox */
      -moz-transform: rotate(-270deg);
      
      /* IE */
      -ms-transform: rotate(-270deg);
      
      /* Opera */
      -o-transform: rotate(-270deg);
      
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      
      }
.margin0{
    margin: 0;
}


.life-counter-container{
    width: 100vw;
}

.text-1{
    left: 11%;
    position: relative;
    top: 37%;
}

.text-2{
    position: relative;
    right: 12%;
    top: 26%;
}

.player3{
    position: relative;
    left: 20%;
}

