body{
    height: 100vh;
    width: 100vw;
    background-color: black; 
}

/* three players */
.player-count, .starting-life, .start-match, .end-match{
    font-size: 2em;
}

.players, .life{
    background-color: #311b92;
}

.none{
    display: none;
}

.visible{
    display: block;
}

.player-counter-1{
    background-color: blue;
    height: 50vh;
}

.player-counter-2{
    background-color: red;
    height: 50vh;
}

.player-counter-3{
    background-color: green;
    height: 50vh;
}

.player-counter-4{
    background-color: orange;
    height: 50vh;
}

.life-total, .plus, .minus{
    display: inline-block;
    font-size: 5em;
    position: relative;
    top: 10vh;
    margin-right: 4%;
    left: 15%;
}

.center-menu{
    display: inline-block;
    position: absolute;
    left: 51%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
}

.nav-menu{
    height: 10%;
    line-height: 39px;
    width: 9%;
}

.sub-menu{
    bottom: 3vh;
    position: relative;
}

.sub-menu-back{
    display: inline-block;
    position: absolute;
    left: 42.5%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
}

.twoPlayer{
    height: 100vh;
}

.inlineBlock{
    display: inline-block;
}

.rotate90 {

    /* Safari */
    -webkit-transform: rotate(-90deg);
    
    /* Firefox */
    -moz-transform: rotate(-90deg);
    
    /* IE */
    -ms-transform: rotate(-90deg);
    
    /* Opera */
    -o-transform: rotate(-90deg);
    
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
    }

.rotate270{
      /* Safari */
      -webkit-transform: rotate(-270deg);
    
      /* Firefox */
      -moz-transform: rotate(-270deg);
      
      /* IE */
      -ms-transform: rotate(-270deg);
      
      /* Opera */
      -o-transform: rotate(-270deg);
      
      /* Internet Explorer */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      
      }
.margin0{
    margin: 0;
}


.life-counter-container{
    width: 100vw;
}

.text-1{
    left: 11%;
    position: relative;
    top: 37%;
}

.text-2{
    position: relative;
    right: 12%;
    top: 26%;
}

.player3{
    position: relative;
    left: 20%;
}

.hidden{
    visibility: hidden;
}

.poisen{
    width: 100%;
    position: relative;
    top: 1vh;
    display: inline-block;
}

.poisen-button{
    width: 29%;
}


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .modal-left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .modal-right {
    right: 0;
    background-color: red;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .modal-dialog{
      height: 100%;
      margin: 0;
  }

  .poisen-picker-1, .poisen-picker-2{
      font-size: 2em;
  }

  



